<!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Carlos Leyva</a></h1>
        <div class="social-links mt-3 text-center">
          <NavLink href="#" class="twitter"><i class="bx bxl-twitter"></i></NavLink>
          <NavLink href="#" class="facebook"><i class="bx bxl-facebook"></i></NavLink>
          <NavLink href="#" class="instagram"><i class="bx bxl-instagram"></i></NavLink>
          <NavLink href="#" class="google-plus"><i class="bx bxl-skype"></i></NavLink>
          <NavLink href="#" class="linkedin"><i class="bx bxl-linkedin"></i></NavLink>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><NavLink href="#portfolio" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></NavLink></li>
          <li><NavLink href="#services" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Contacto</span></NavLink></li>
          <li><NavLink href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></NavLink></li>
          <li><NavLink href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></NavLink></li>
          <li><NavLink href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></NavLink></li>
          <li><NavLink href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></NavLink></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->